name: Docker

on:
  workflow_call:

jobs:
  main:
    strategy:
      matrix:
        include:
        - unity_docker_image: unityci/editor:6000.0.49f1-webgl-3
          service_name: asset-bundle-converter
          platform_target: webgl
        - unity_docker_image: unityci/editor:6000.0.49f1-windows-mono-3
          service_name: asset-bundle-converter-windows
          platform_target: windows
        - unity_docker_image: unityci/editor:6000.0.49f1-mac-mono-3
          service_name: asset-bundle-converter-mac
          platform_target: mac

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          lfs: true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Build Image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: ${{ matrix.service_name }}
          layers: true
          tags: next ${{ github.sha }} ${{ inputs.docker-tag }}
          dockerfiles: |
            ./Dockerfile
          build-args: |
            COMMIT_HASH=${{ github.sha }}
            UNITY_DOCKER_IMAGE=${{ matrix.unity_docker_image }}
            PLATFORM_TARGET=${{ matrix.platform_target }}

      - name: Create $(pwd)/tmp/Unity/Unity_lic.ulf
        run: mkdir -p $(pwd)/tmp/Unity && echo "$UNITY_2021_ULF" > $(pwd)/tmp/Unity/Unity_lic.ulf
        env:
          UNITY_2021_ULF: ${{ secrets.UNITY_2021_ULF }}

      - name: Run tests
        run: |
          docker run \
            -v $(pwd)/tmp/Unity:/root/.local/share/unity3d/Unity \
            -v $(pwd):/app \
            quay.io/decentraland/${{ matrix.service_name }}:next \
              sh -c "cd /app ; ls -la ; chmod +x ci-editmode-test.sh ; ./ci-editmode-test.sh"

      - name: Run test conversion of urn:decentraland:off-chain:base-avatars:brown_pants
        run: |
          docker run \
            -v $(pwd)/tmp/Unity:/root/.local/share/unity3d/Unity \
            quay.io/decentraland/${{ matrix.service_name }}:next \
              node --trace-warnings --abort-on-uncaught-exception --unhandled-rejections=strict dist/test-conversion.js \
                --baseUrl https://peer.decentraland.org/content \
                --pointer urn:decentraland:off-chain:base-avatars:brown_pants \
                --outDir /tmp-ab \
                --logFile /tmp-ab/log.txt

