name: CI/CD on main branch

on:
  push:
    branches:
      - "main"

jobs:
  cd:
    strategy:
      matrix:
        include:
          - unity-docker-image: unityci/editor:6000.0.49f1-webgl-3
            service-name: asset-bundle-converter
            platform-target: webgl
          - unity-docker-image: unityci/editor:6000.0.49f1-windows-mono-3
            service-name: asset-bundle-converter-windows
            platform-target: windows
          - unity-docker-image: unityci/editor:6000.0.49f1-mac-mono-3
            service-name: asset-bundle-converter-mac
            platform-target: mac

    uses: ./.github/workflows/docker-common.yml
    with:
      service-name: ${{ matrix.service-name }}
      unity-docker-image: ${{ matrix.unity-docker-image }}
      platform-target: ${{ matrix.platform-target }}
      deployment-environment: dev
      docker-tag: next
      upload-image: true
    secrets: inherit
