name: Docker

on:
  workflow_call:
    inputs:
      service-name:
        required: true
        type: string
      unity-docker-image:
        required: true
        type: string
      platform-target:
        required: true
        type: string
      image-name:
        required: false
        type: string
      deployment-environment:
        required: false
        type: string
      docker-tag:
        required: true
        type: string
      build-args:
        required: false
        type: string
      layers:
        required: false
        type: boolean
        default: true
      dockerfile-url:
        required: false
        type: string
      upload-image:
        required: false
        type: boolean
        default: false
    secrets:
      QUAY_USERNAME:
        required: true
      QUAY_TOKEN:
        required: true

env:
  QUAY_URL: "quay.io/decentraland/"

jobs:
  quay-build-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          lfs: true

      - name: Move Docker data-root to /mnt/docker
        run: |
          sudo systemctl stop docker
          sudo mkdir -p /mnt/docker
          echo '{"data-root":"/mnt/docker"}' | sudo tee /etc/docker/daemon.json
          sudo systemctl start docker
          docker info | sed -n '1,40p'
          df -h /mnt /mnt/docker

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker

      - name: Login to Quay.io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Set up tags variable
        run: |
            TAGS="${{ env.QUAY_URL }}${{ inputs.service-name }}:${{ github.event.pull_request.head.sha || github.sha }},${{ env.QUAY_URL }}${{ inputs.service-name }}:${{ inputs.docker-tag || github.sha }}"
            if [ -n "${{ github.event.release.tag_name }}" ]; then
              TAGS="$TAGS,${{ env.QUAY_URL }}${{ inputs.service-name }}:${{ github.event.release.tag_name }}"
            fi
            echo "TAGS=$TAGS" >> $GITHUB_ENV

      - name: Build image
        id: build-image
        uses: docker/build-push-action@v6
        with:
          context: .
          tags: ${{ env.TAGS }}
          load: true
          build-args: |
            COMMIT_HASH=${{ github.event.pull_request.head.sha || github.sha }}
            VERSION_TAG=${{ github.event.pull_request.head.ref || github.event.release.tag_name || inputs.docker-tag || 'unknown' }}
            UNITY_DOCKER_IMAGE=${{ inputs.unity-docker-image }}
            PLATFORM_TARGET=${{ inputs.platform-target }}

      - name: Create $(pwd)/tmp/Unity/Unity_lic.ulf
        run: mkdir -p $(pwd)/tmp/Unity && echo "$UNITY_2021_ULF" > $(pwd)/tmp/Unity/Unity_lic.ulf
        env:
          UNITY_2021_ULF: ${{ secrets.UNITY_2021_ULF }}

      - name: Run tests
        run: |
          docker run --rm \
            -v $(pwd)/tmp/Unity:/root/.local/share/unity3d/Unity \
            -v $(pwd):/app \
            ${{ env.QUAY_URL }}${{ inputs.service-name }}:${{ github.event.pull_request.head.sha || github.sha }} \
              sh -c "cd /app ; ls -la ; chmod +x ci-editmode-test.sh ; ./ci-editmode-test.sh"

      - name: Run test conversion of urn:decentraland:off-chain:base-avatars:brown_pants
        run: |
          docker run --rm \
            -v $(pwd)/tmp/Unity:/root/.local/share/unity3d/Unity \
            ${{ env.QUAY_URL }}${{ inputs.service-name }}:${{ github.event.pull_request.head.sha || github.sha }} \
              node --trace-warnings --abort-on-uncaught-exception --unhandled-rejections=strict dist/test-conversion.js \
                --baseUrl https://peer.decentraland.org/content \
                --pointer urn:decentraland:off-chain:base-avatars:brown_pants \
                --outDir /tmp-ab \
                --logFile /tmp-ab/log.txt
          
      - name: Run test conversion of scene 43,100
        run: |
          docker run --rm \
            -v $(pwd)/tmp/Unity:/root/.local/share/unity3d/Unity \
            ${{ env.QUAY_URL }}${{ inputs.service-name }}:${{ github.event.pull_request.head.sha || github.sha }} \
              node --trace-warnings --abort-on-uncaught-exception --unhandled-rejections=strict dist/test-conversion.js \
                --baseUrl https://peer.decentraland.org/content \
                --pointer 43,100 \
                --outDir /tmp-ab \
                --logFile /tmp-ab/log.txt
          
      - name: Run test conversion of scene 20,4 Goerli
        run: |
          docker run --rm \
            -v $(pwd)/tmp/Unity:/root/.local/share/unity3d/Unity \
            ${{ env.QUAY_URL }}${{ inputs.service-name }}:${{ github.event.pull_request.head.sha || github.sha }} \
              node --trace-warnings --abort-on-uncaught-exception --unhandled-rejections=strict dist/test-conversion.js \
                --baseUrl https://peer.decentraland.zone/content \
                --pointer 20,4 \
                --outDir /tmp-ab \
                --logFile /tmp-ab/log.txt

      - name: Push Docker image to Quay.io
        if: ${{ inputs.upload-image }}
        run: docker push --all-tags ${{ env.QUAY_URL }}${{ inputs.service-name }}

      - name: Print image url
        if: ${{ inputs.upload-image }}
        run: |
          echo "Image and tags pushed:"
          docker images ${{ env.QUAY_URL }}${{ inputs.service-name }}

  deployment:
    if: ${{ inputs.upload-image && inputs.deployment-environment }}
    needs: [quay-build-push]
    name: "Deploy to: ${{ inputs.deployment-environment }}"
    runs-on: ubuntu-latest
    steps:
      - name: Trigger deployment
        id: deploy
        uses: decentraland/dcl-deploy-action@main
        with:
          dockerImage: "${{ env.QUAY_URL }}${{ inputs.service-name }}:${{ github.event.pull_request.head.sha || github.sha }}"
          serviceName: ${{ inputs.service-name }}
          env: ${{ inputs.deployment-environment }}
          token: ${{ secrets.GITHUB_TOKEN }}
