name: Manual Deploy

on:
  workflow_dispatch:
    inputs:
      deployment-environment:
        required: true
        type: choice
        options:
          - dev
          - prd
        default: prd
        description: Environment
      tag:
        required: true
        default: "latest"
        type: string
        description: "Docker tag (quay.io)"

jobs:
  deployment:
    strategy:
      matrix:
        include:
        - service_name: asset-bundle-converter
        - service_name: asset-bundle-converter-windows

    if: ${{ inputs.deployment-environment }}
    name: "Deploy to: ${{ inputs.deployment-environment }}"
    runs-on: ubuntu-latest
    environment: ${{ inputs.deployment-environment }}
    steps:
      - name: Trigger deployment
        id: deploy
        uses: decentraland/dcl-deploy-action@main
        with:
          dockerImage: "quay.io/decentraland/${{ matrix.service_name }}:${{ inputs.tag }}"
          serviceName: "${{ matrix.service_name }}"
          env: ${{ inputs.deployment-environment }}
          token: ${{ secrets.GITHUB_TOKEN }}